.left {
    gap: 2rem;
}

h2 {
    margin-top: 1.5rem;
}

.anime-banner {
    max-height: 35vh;
    max-width: 100%;
}

.crop {
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.crop img {
    flex-shrink: 0;
    max-width: 100%;
    transform: translateY(-20%);
}

.cover {
    position: absolute;
    max-height: 75%;
    z-index: 1;
    left: 2rem;
    bottom: -15%;
    box-shadow: 10px 10px 20px black;
}

.rel {
    position: relative;
}