html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: #dbdbdb;
    font-family: Roboto, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #dbdbdb;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    max-width: 100vw;
}

.wrapper-column {
    display: flex;
    flex-direction: column;
}

.wrapper-row {
    display: flex;
    flex-direction: row;
}

nav {
    background-color: #141414;
    padding: 0.70rem 3rem 0.70rem 2rem;
    justify-content: space-between;
}

nav > ul, .burger {
    align-items: center;
    gap: 1rem;
}

nav > ul li, .burger li {
    font-weight: bold;
    font-size: 1.2rem;
}

nav > ul li a:hover{
    color: #7289DA;
}

nav > ul li svg {
    width:15px; 
    height: 15px;
}

.burger li svg {
    width: 1.5rem;
    height: 1.5rem;
}

nav > ul li a svg path:hover {
    color: #7289DA;
}

.dropdown-icon:hover .dropdown {
    display: flex;
}

.dropdown {
    position: absolute;
    transform: translateX(-6rem);
    display: none;
    background-color: #23262E;
    z-index: 1000;
}

.dropdown-burger {
    position: absolute;
    display: none;
    background-color: #141414;
    width: 100%;
    padding: 1rem;
    text-align: center;
    left: 0;
}

.dropdown-burger div {
    gap: 1rem;
}

.dropdown a {
    background-color: #23262E;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
}

.dropdown div {
    gap: 0.5rem;
}

.dropdown div a {
    font-weight: lighter;
}

.burger {
    display: none;
}

.banner img {
    max-width: 100%;
}

.b-hov:hover {
    opacity: .8;
}

main {
    background-color: #1B2021;
    padding: 2em 10% 4rem ;
    justify-content: space-between;
    gap: 7rem;
}

h2 {
    font-size: 2rem;
    margin-top: 0;
    font-weight: normal;
    align-self: center;
}

.left {
    flex: 1 1 auto;
    max-width: 67%;
}

.cards {
    gap: 2rem;
}

.card {
    background-color:#23262E;
    flex: 0 0 auto;
    max-width: 100%;
    padding: 0.75rem;
    gap: 2rem;
    flex-wrap: wrap;
    position: relative;
}

.card img {
    flex: 0 1 auto;
    align-self: flex-start;
    min-width: 0;
}

.text {
    gap: 1rem;
    flex: 1;
}

.big {
    font-size: 1.5rem;
    max-width: 90%;
}

.card a.watch {
    flex: 0 1 0;
    max-width: fit-content;
    align-self: flex-end;
    justify-self: flex-end;
    background-color: transparent;
    border: 2px solid white;
    color: #dbdbdb;
    font-size: 1.05rem;
    border-radius: 4px;
    padding: 0.3rem 0.8rem;
    
}

.card a.watch:hover {
    border-color: #2b4294;
}

.card-date {
    position: absolute;
    right: 0.5rem;
    top: 0.3rem;
    font-size: 0.75rem;
}

@media only screen and (max-width: 960px) {
    .card-date {
        display: none;
    }
}


.right {
    background-color: #23262E;
    flex: 1 1 auto;
    max-width: 32%;
    max-height: 100vh;
    padding: 0.5rem 0;
    gap: 0.75rem;
}

.facebook, .discord, .time, .harm{
    flex: 1 1 0;
    background-color: #3C5A99;
    padding: 1rem;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
}

.facebook span, .discord span{
    font-size: 1.5rem;
}

.r-hov:hover {
   background-color: #7289DA;
   opacity: .8;
}

.discord {
    background-color: #2C2F33;
    gap: 0.4rem;
}

.time, .harm  {
    background-color: inherit;
    font-size: 1.3rem;
    padding-bottom: 0;
    flex: 0 1 0;
}

.harm {
    padding-top: 0;
    font-size: 1.7rem;
}

.harm span {
    color: #667ac1;;
}

.right svg {
    height: 1.5rem;
    width: 1.5rem;
}

footer {
    background-color: #161d1f;
    justify-content: space-between;
    padding: 0 8rem;
}

.socials {
    align-items: center;
}

.socials svg, .socials img {
    width: 1.85rem; 
    height: 1.85rem;
}

.socials a {
    display: block;
    padding: 0.65rem 0.65rem;
}

.foot-fb:hover {
    background-color: #3C5A99;
}

.foot-dc:hover {
    background-color: #2C2F33;
}

.foot-pa:hover {
    background-color: #ed1b2d;
}

.legal {
    align-items: center;
}

@media only screen and (max-width: 680px) {
    .right, .legal {
        display: none;
    }

    main {
        justify-content: center;
    }

    .left{
        align-items: center;
    }

    h2, nav ul li {
        text-align: center;
    }

    footer {
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    nav ul.wrapper-row{
        display: none;
    }

    .card {
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    .card img {
        flex-shrink:0;
        max-width:100%;
        max-height:100%
    }

    .burger {
        display: flex;
    }

    .dropdown-icon:hover .dropdown-burger {
        display: flex;
    }
}